@model IEnumerable<MyClass.Model.Categories>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";


}
<body>
    <main class="site-main">
        @*================ Hero banner start =================*@
        <section class="hero-banner">
            <div class="container">
                <div class="row no-gutters align-items-center pt-60px pb-60px">
                    <div class="col-5 d-none d-sm-block">
                        <div class="hero-banner__img">
                            <img class="img-fluid" src="~/Public/img/home/banner.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                        <div class="hero-banner__content">
                            <h3 style="font-style: italic; font-size: 40px">Tomorrow's Technology Today</h3>
                            <h5>Creating a Future You Can't Imagine</h5>
                            <h2>Cùng mua sắm với những sản phẩm cao cấp của chúng tôi</h2>
                            <p>Technology Store mang đến cho khách hàng những sản phẩm thiết bị di động có chất lượng cao để phục vụ tốt những nhu cầu của khách hàng.</p>
                            <a class="button button-hero" href="#all_product">Mua sắm ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @*================ Hero banner start =================*@

        @*================ Hero Carousel start =================*@
        @Html.Action("Slider", "Module")
        @*================ Hero Carousel end =================*@
        <section class="section-margin calc-60px">
            <div class="container">
                @foreach (var item in Model)
                {
                    @Html.Action("HomeProduct", "Site", new { @id = item.Id })
                }
            </div>
        </section>
        @*================ trending product section start =================*@
        @Html.Action("Product", "Site")
        @*================ trending product section end =================*@

        @*================ Subscribe section start =================*@
        <section class="subscribe-position">
            <div class="container">
                <div class="subscribe text-center">
                    <h3 class="subscribe__title">CẬP NHẬT THÔNG TIN MỚI NHẤT</h3>
                    <p>Hãy để lại Email của bạn để chúng tôi có thể sớm thông báo những thông tin mới sớm nhất</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
                            <div class="form-group ml-sm-auto">
                                <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Nhập Email của bạn" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                                <div class="info"></div>
                            </div>
                            <button class="button button-subscribe mr-auto mb-1" type="submit">Đăng ký ngay</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </section>
        @*================ Subscribe section end =================*@
    </main>
</body>